* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bec4c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@font-face {
    font-family: 'Newsreader';
    src: url("fonts/newsreader.ttf");
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-family-newsreader: 'Newsreader', sans-serif;
}

#red {
    color: red;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.6200000047683716);
}

.container {

    display: flex;
    flex-direction: column;
}

.title {
    display: inline-block;
}

.allscreen {
    width: 100%;
    height: 100vh;
}

.pg1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    /* or any custom size */
    height: 100%;
    object-fit: contain;
}

canvas {
    width: 100%;
    /* or any custom size */
    height: 100%;
    object-fit: contain;
}

.pg1-text-1 {
    font-size: 24px;
    font-family: var(--font-family-newsreader);
    font-weight: normal;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    opacity: 0.5;
    text-align: center;

    animation-name: fadeint1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
}

.pg1-text-1-2 {
    font-size: 64px;
    font-family: var(--font-family-newsreader);
    font-weight: normal;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    animation-name: fadeint2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
}

.text-displayer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_displayer {
    position: absolute;
}

.fitimg {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.money_contrainer {
    display: inline-block;
    width: 40%;
    height: 50%;
    position: absolute;
    top: 60vh;
    left: -16vh;

    animation-name: slideleftAnimation;
    animation-timing-function: ease-out;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-direction: normal;
}

.pen_contrainer {
    display: inline-block;
    width: 40%;
    height: 50%;
    position: absolute;
    top: -4vh;
    left: 78%;

    animation-name: slideDownPenAnimation;
    animation-timing-function: ease-out;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-direction: normal;
}

.suitcase_contrainer {
    display: inline-block;
    width: 40%;
    height: 52%;
    position: absolute;
    top: 58vh;
    left: 68%;

    animation-name: slideUpAnimation;
    animation-timing-function: ease-out;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-direction: normal;

}

.paper_contrainer {
    display: inline-block;
    width: 40%;
    height: 50%;
    position: absolute;
    top: -2vh;
    left: -24%;

    animation-name: slideleftAnimation;
    animation-timing-function: ease-out;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-direction: normal;

}

.pg2_title {
    width: 100%;
    height: 10vh;
    display: inline-block;
    font-size: 64px;
    font-family: var(--font-family-newsreader);
    font-weight: normal;
    text-align: left;
    color: rgba(0, 0, 0, 1);


}

.pg2_title p {
    margin-top: 2vh;
    text-align: center;
}

.section {
    position: fixed;
    width: 20%;
    border-right: 1px solid;
}

.pg2_box {
    object-fit: contain;
}

.pg2_holder {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 5rem;
}

.pg2 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.pg2_left_title {
    font-size: 64px;
    font-family: var(--font-family-newsreader);
    font-weight: normal;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.pg2_left_info {
    opacity: 0.699999988079071;
    font-size: 32px;
    font-family: var(--font-family-kiwi-maru);
    font-weight: normal;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.pg2_right_img_holder {
    margin-top: 3rem;
}


.pg3_box {
    object-fit: contain;
}

.pg3_holder {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 5rem;
}

.pg3 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.pg3_left_title {
    font-size: 64px;
    font-family: var(--font-family-newsreader);
    font-weight: normal;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.pg3_left_info {
    opacity: 0.699999988079071;
    font-size: 32px;
    font-family: var(--font-family-kiwi-maru);
    font-weight: normal;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.pg3_right_img_holder {
    margin-top: 3rem;
}



.pg4_box {
    object-fit: contain;
}

.pg4_holder {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 5rem;
}

.pg4 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.pg4_left_title {
    font-size: 64px;
    font-family: var(--font-family-newsreader);
    font-weight: normal;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.pg4_left_info {
    opacity: 0.699999988079071;
    font-size: 32px;
    font-family: var(--font-family-kiwi-maru);
    font-weight: normal;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.pg4_right_img_holder {
    margin-top: 3rem;
}




.pg5_box {
    object-fit: contain;
}

.pg5_holder {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 5rem;
}

.pg5 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.pg5_left_title {
    font-size: 64px;
    font-family: var(--font-family-newsreader);
    font-weight: normal;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.pg5_left_info {
    opacity: 0.699999988079071;
    font-size: 32px;
    font-family: var(--font-family-kiwi-maru);
    font-weight: normal;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.pg5_right_img_holder {
    margin-top: 3rem;
}





.pg6_box {
    object-fit: contain;
}

.pg6_holder {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 5rem;
}

.pg6 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.pg6_left_title {
    font-size: 52px;
    font-family: var(--font-family-newsreader);
    font-weight: normal;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.pg6_left_info {
    opacity: 0.699999988079071;
    font-size: 32px;
    font-family: var(--font-family-kiwi-maru);
    font-weight: normal;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.pg6_right_img_holder {
    margin-top: 3rem;
}

.pg7_title {
    width: 100%;
    height: 8vh;
    font-size: 64px;
    font-family: var(--font-family-newsreader);
    font-weight: normal;
    color: rgba(0, 0, 0, 1);
    text-align: center;

}

.pg8_title {
    width: 100%;
    height: 8vh;
    font-size: 64px;
    font-family: var(--font-family-newsreader);
    font-weight: normal;
    color: rgba(0, 0, 0, 1);
    text-align: center;

}

.chart {
    width: 50%;
    height: 30vh;
}

.chart_control {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.table-container {
    width: 80%;
    margin: auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    vertical-align: top;

    font-size: 20px;
    font-family: var(--font-family-newsreader);

}

th {
    background-color: #ddd;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

td:first-child {

    font-size: 20px;
    font-family: var(--font-family-newsreader);
    font-weight: normal;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}

ul {
    padding-left: 20px;
    margin: 0;
}

li {
    list-style-type: none;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4vh;
}

.header .avt {
    height: 4vh;
    width: 5%;

}

.header a {
    font-size: 20px;
    font-family: var(--font-family-newsreader);
    font-weight: normal;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.pg1 {
    height: 116vh;
}

.pg8 {
    height: 116vh;
}


footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}

.footer-container {
    max-width: 800px;
    margin: auto;
}

.hidden {
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    transform: translateX(0%);
}


@keyframes fadeint1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}

@keyframes fadeint2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



@keyframes slideleftAnimation {
    from {
        transform: translateX(-100%) rotate(120deg);
    }

    to {
        transform: translateX(0) rotate(0deg);
    }
}


@keyframes slideUpAnimation {
    from {
        transform: translateY(100%) rotate(120deg);
    }

    to {
        transform: translateY(0) rotate(0deg);
    }
}


@keyframes slideRightMoneyAnimation {
    from {
        transform: translateX(-100%) rotate(-120deg);
    }

    to {
        transform: translateY(0) rotate(0deg);
    }
}

@keyframes slideDownPenAnimation {
    from {
        transform: translateY(-100%) rotate(30deg);
    }

    to {
        transform: translateY(0) rotate(0deg);
    }
}